* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    position: relative;
    width: 60px;
    height: 60px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(0, 140, 255);
    transition: all .5s ease;
    box-shadow: 0 10px 30px rgb(0, 140, 255);
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .25rem;
    overflow: hidden;
}

a:hover {
    width: 150px;
    transition-delay: .5s;
}

a::before {
    content: "";
    position: absolute;
    right: 25px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg);
    transition: .5s;
}

a:hover::before {
    transform: rotate(45deg) translate(50px, -50px);
}

a::after {
    content: "";
    position: absolute;
    right: 50px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: rotate(45deg) translate(-50px, 50px);
    overflow: visible;
    transition: .5s;
}

a:hover::after {
    transform: rotate(45deg) translate(-50px, 50px);
    transition-delay: 2s;
}

a span {
    visibility: hidden;
    opacity: 0;
    white-space: nowrap;
    transform: translateX(-20px);
    transition: .5s;
}

a:hover span {
    visibility: visible;
    opacity: 1;
    transition-delay: .75s;
    transform: translateX(20px);
}